
# apikey and API URL of the BioPortal appliance to import data from
def bp_url_input
  'http://data.bioontology.org'
end

def bp_apikey_input
  ''
end


# apikey, API URL and user of the BioPortal appliance to import data in
def bp_url_output
  ''
end

def bp_apikey_output
  ''
end

def bp_user_output
  "admin"
end

# Information to connect to the BioPortal appliance we want to import data in
# It is needed to upload cropontology ontologies (because we need to upload it to the server before uploading it in bioportal)
def server_hostname
  ""
end

def server_username
  "root"
end

def server_password
  ""
end