[
    {
        "acronym": "EDAM",
        "source": "bioportal",
        "group": [],
        "hasDomain": []
    },
    {
        "acronym": "CO_321",
        "source": "cropontology",
        "group": [],
        "hasDomain": [],
        "name": "CGIAR Wheat Trait Ontology",
        "contact": [{"name": "Vincent Emonet", "email": "vincent.emonet@lirmm.fr"}],
        "hasOntologyLanguage": "OBO",
        "released": "2014-09-01",
        "description": "CIMMYT - Wheat - September 2014",
        "status": "beta",
        "version": "2014",
        "homepage": "http://www.cropontology.org/",
        "documentation": "http://www.cropontology.org/ontology/CO_321",
        "publication": "",
        "pullLocation": "http://www.cropontology.org/serve/AMIfv95LZkfqANx67WLKz1nPj0sKQ7LpdcHr3Y-uDlWm1vN4Y6opgXFxhuFK0vPf1mqSIYByzuNYQUADw8rX1hSlqHxCg4bSDJnDGCthZcRnO4ng_E7FKSsLlp6RR_Sog7xaguHAMs_v-FqpwVjvmYv7NOXqr3hSN2xFv9zXOacsBKnF00lo0wI"
    },
    {
        "acronym": "FALDO",
        "source": "url",
        "group": [],
        "hasDomain": [],
        "name": "Feature Annotation Location Description Ontology",
        "contact": [{"name": "Jerven Bolleman", "email": "jerven.bolleman@isb-sib.ch"}],
        "hasOntologyLanguage": "OWL",
        "prefLabelProperty": "http://www.w3.org/2000/01/rdf-schema#label",
        "definitionProperty": "http://www.w3.org/2000/01/rdf-schema#comment",
        "released": "2013-06-28",
        "description": "FALDO is the Feature Annotation Location Description Ontology. It is a simple ontology to describe sequence feature positions and regions as found in GFF3, DBBJ, EMBL, GenBank files, UniProt, and many other bioinformatics resources. The aim of this ontology is to describe the position of a sequence region or a feature. It does not aim to describe features or regions itself, but instead depends on resources such as the Sequence Ontology or the UniProt core ontolgy.",
        "status": "beta",
        "version": "2013",
        "homepage": "https://github.com/JervenBolleman/FALDO",
        "documentation": "https://github.com/JervenBolleman/FALDO",
        "publication": "",
        "pullLocation": "https://raw.githubusercontent.com/JervenBolleman/FALDO/master/faldo.ttl"
    }
]